<h1>Portland Area Old-Growth Forest Species</h1>
<ul>
  <% @kinds.each do |kind| %>
  <li><a href="/kinds/<%= kind.id %>"><%= kind.name %></a></li>
  <% end %>
</ul>
<p><a href="/kinds/new">Add a new species</a></p>
<p><a href="/sightings/index">List the sightings by date</a></p>

