<h1>New Species</h1>

<% if @kind.errors.any? %>
  <h3>Please fix these errors:</h3>
  <ul>
    <% @kind.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<form action="/kinds" method="post">
  <label for="kind_name">Name</label>
  <input id="kind_name" name="kind[name]" type="text">
  <button>Create Species</button>
</form>
