<form action="/sightings" method="get">
  <label for="sightings_start_date">Start date</label>
  <input id="sightings_start_date" name="sightings[start_date]" type="date">
  <label for="sightings_end_date">End date</label>
  <input id="sightings_end_date" name="sightings[end_date]" type="date">
  <button>Run report</button>
</form>
