<h1>Sighting saved!</h1>

<p>A new sighting was successfully saved.</p>

<p><a href="/kinds/<%= @sighting.kind_id %>">View <%= @sighting.kind.name %></a></p>

<p><a href="/kinds">Return to species listing</a></p>
